<!-- important links -->
<section class="sec9">

  <div class="dropdown-menu">
    <span class="dropdown-item-text">Dropdown item text</span>
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>

<div class="w3-row w3-center w3-small">


    <div  class=" details info_paragraph w3-col l3 m6 s12">
      <p style="color:#88b2ad;" align="center" id="aboutsite">عن موقعنا</p>
      هذا الموقع يعرض اكواد مختلفة لاغراض مختلفة ويسمح للمستخدمين بالمشاركة باكوادهم معنا وعرضها للبيع اذا رغبوا في ذلك
    </div>

    <div  class=" details info_paragraph w3-col l3 m6 s12">
      <p style="color:#88b2ad;"id="oursections" align="center">الاقسام</p>
      هذا الموقع يخدم اكواد
      html
      و
      css
      و
      javascript
      للسماح للمستخدمين ايجاد و تحميل الانواع المختلفة من الاكواد
       ويتسع لاضافة انواع اخرى

    </div>
    <div class="details info_paragraph w3-col l3 m6 s12">
      <p style="color:#88b2ad;" id="contact" align="center">تواصل معنا</p>
      يمكنك التواصل معنا عن طريق مواقع التواصل الاجتماعي و متابعة جديدنا على قناتنا في اليوتيوب وأيضًا التواصل معنا على
cody@gmail.com  
    </div>

</div>

</section>

<!-- footer -->
<section class="footer">
  <b style="color:#88b2ad;">كل الحقوق محفوظة لدى <strong>كودي</strong></b><br />

  <a href="https://twitter.com" target="_blank"> <button class="btn"> <i class="fab fa-twitter-square fa-2x"> </i> </button> </a>
  <a href="https://www.instagram.com" target="_blank"> <button class="btn"><i class="fab fa-instagram fa-2x"></i></button> </a>
  <a href="https://www.facebook.com/" target="_blank"> <button class="btn"><i class="fab fa-facebook-square fa-2x"></i></button> </a>
  <a href="https://www.youtube.com" target="_blank"> <button class="btn"><i class="fab fa-youtube-square fa-2x"></i></button> </a>
  <a href="https://sa.linkedin.com" target="_blank"> <button class="btn"><i class="fab fa-linkedin-in fa-2x"></i> </button> </a>
</section>

</div>
<!--end of container-->
<!-- link to jQuery then JavaScript <from my files> -->
<script src="Pscript.js"> </script>
<script src="jquery-3.4.1.js"></script>
<!--<script src="index.js"></script> -->
<!-- Optional JavaScript specific to bootstrap-->
<!-- jQuery first, then Popper.js, then Bootstrap JS <from website>-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--link icon in footer to website-->
<script src="https://kit.fontawesome.com/30e6357a52.js" crossorigin="anonymous"></script>


</body>

</html>
