<%- include("header") -%>

    <!-- background picture and specify user -->
    <section class="sec1">
      <p class="hugeText">كودي ..</p>
      <p class="hugeText">احصل على الكود المطلوب بسهولة.</p>
    </section>

    <!-- choose plan -->
    <section class="sec2">
      choose plan
      
    </section>

    <!-- choose plan -->
    <section class="sec3">
      plans
    </section>

    <!-- sign in/up -->
    <section class="sec4">

    </section>

    <!-- more photos collection -->
    <section class="sec5">
      more photos collection
    </section>

    <!-- photos category -->
    <section class="sec6">
      photos category
    </section>

    <!-- conclusion information -->
    <section class="sec7">
      conclusion information
    </section>

    <!-- background picture & sign in/up -->
    <section class="sec8">
      background picture & sign in/up
    </section>


<%- include("footer") -%>
