<%- include("header") -%>

<h1>الاسم : </h1>



<%= username %>


<h2>البريد الالكتروني : </h2>

<%= email %>

<h2>العضوية  : </h2>

<br>


<a type="button" href="/logout">Logout</a>

<%- include("footer") -%>
