/*a:link{color:black;}
a:visited{color:purple}
a:hover{color: blue}
a:active{color:red;}
.hoverover:hover{color: green;}
*/
body{

height:inherit;
color:;
background-color: #fce4ec;
background-image: url("");
background-repeat: no-repeat;
background-size: cover;
text-align: center;
font-size: ;
font-style: normal;
font-family: inherit;
margin: 0 ;
padding: ;
border: ;
display: ;
position: static;

}

.container{
  width: inherit;
  height: auto;
  color: ;
  background-color:;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: ;
  font-size: ;
  font-style: normal;
  font-family: inherit;
  margin: 0 auto;
  padding: ;
  border: ;
  display: ;
  position: ;
}

.header{
  width: inherit;
  height: auto;
  color: ;
  background-color: #f48fb1;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  font-size: ;
  font-style: normal;
  font-family: inherit;
  margin: inherit;
  padding: ;
  border: ;
  display: ;
  position: static;
}

.sec1{
  width: inherit;
  height: 400px;
  color: ;
  background-color: ;
  background-image: url("bg_img_1.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  font-size: ;
  font-style: normal;
  font-family: inherit;
  margin: 5px auto;
  padding: ;
  border: ;
  display: ;
  position: static;
}

.sec2{
  width: inherit;
  height: auto;
  color: ;
  background-color: ;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  font-size: ;
  font-style: normal;
  font-family: inherit;
  margin: 0 auto;
  padding: ;
  border: ;
  display: ;
  position: static;
}

.sec3{
  width: inherit;
  height: auto;
  color: ;
  background-color: ;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  font-size: ;
  font-style: normal;
  font-family: inherit;
  margin: 0 auto;
  padding: ;
  border: ;
  display: ;
  position: static;;
}

.sec4{
  width: inherit;
  height: auto;
  color: ;
  background-color: ;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  font-size: ;
  font-style: normal;
  font-family: inherit;
  margin: 0 auto;
  padding: ;
  border: ;
  display: ;
  position: static;
}

.sec5{
  width: inherit;
  height: auto;
  color: ;
  background-color: ;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  font-size: ;
  font-style: normal;
  font-family: inherit;
  margin: 0 auto;
  padding: ;
  border: ;
  display: ;
  position: static;
}

.sec6{
  width: inherit;
  height: auto;
  color: ;
  background-color: ;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  font-size: ;
  font-style: normal;
  font-family: inherit;
  margin: 0 auto;
  padding: ;
  border: ;
  display: ;
  position: static;
}

.sec7{
  width: inherit;
  height: auto;
  color: ;
  background-color: ;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  font-size: ;
  font-style: normal;
  font-family: inherit;
  margin: 0 auto;
  padding: ;
  border: ;
  display: ;
  position: static;
}

.sec8{
  width: inherit;
  height: auto;
  color: ;
  background-color: ;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  font-size: ;
  font-style: normal;
  font-family: inherit;
  margin: 0 auto;
  padding: ;
  border: ;
  display: ;
  position: static;
}


.sec9{
  width: inherit;
  height: 300px;
  color: ;
  background-color: #f48fb1;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  font-size: ;
  font-style: normal;
  font-family: inherit;
  margin: 5px auto;
  padding: ;
  border: ;
  display: ;
  position: static;
}

.info_paragraph{
  display: inline-block;
  width: 300px;
  height: 250px;
  margin: 20px 50px;
  padding: 10px;
  text-align: justify;
}

.footer{
  width: inherit;
  height: 100px;
  color: ;
  background-color: #f48fb1;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: ;
  font-style: normal;
  font-family: inherit;
  margin: 5px auto;
  padding: 10px;
  border: ;
  display: ;
  position: static;
}
